@media (max-width: 800px){
    html{
        box-sizing: border-box;
        margin: 0 auto;
        width: 800px;
        background-color: rgb(182, 183, 183); 
       }
       *, *::after, *::before{
           box-sizing: inherit;
       }
    body{
        max-width: 800px;
    }
    
    /*-------------start main---------------*/
    .hero_text{
        margin-left: 20px;
        max-width: 800px;
        gap: 0px;
    }
    .hero_h1{
        max-width: 800px;
    }
    .hero_text p{
        margin-top: 10px;
        max-width: 800px;
    }
    .news_title{
        display: flex;
        justify-content: center;
        margin: 40px 0px 0px 0px;
    }
    .news_block{
        margin: 40px 0px 0px 0px;
    }
    .news{
        max-width: 800px;
    }
    .news, .news:nth-child(2), .news:nth-child(3), .news:last-child{
        margin-left: 20px;
        margin-top: 30px;
    }
    .news:hover .title_news{
        color: var(--brand-color, #841844);
    }
    .title_news, .announce_news p{
        max-width: 780px;
    }
    .pagination{
        margin: 83px 0px 0px 0px;
        display: flex;
        justify-content: center;
    }
    .pagination_item{
        display: flex;
        gap: 16px;
        margin: 0px;
        padding: 0px;
    }
    /*-------------end main---------------*/


   
}